.pageHeader {
    display: flex;
  }

  .discover_head {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }

  .search_container{
    display: flex;
    align-items: center;
    padding: 2px;
  }
  
  .search_input {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-color: #f1f1f1;
    font-size: 16px;
    margin-right: 25px;
    transition: all 0.3s ease;
    outline: none;
  }
  
  .search_input:focus {
    background-color: #ffffff;
    border-color: #007bff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .search_input::placeholder {
    color: #aaa;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .search_input:focus::placeholder {
    opacity: 0.5;
  }

  .searchButton {
    padding: 12px 18px;
    border: none;
    border-radius: 50%; 
    background-color: #007bff; 
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    margin-left: 10px;
  }
  
  .searchButton:hover {
    background-color: #0056b3; 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); 
  }
  
  .searchButton:active {
    transform: scale(0.98); 
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  
  .pageHeader h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: #333;
    letter-spacing: 1.5px;
    margin: 0;
    text-align: left;
  }

.allUserProfile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
  }
  
  .userProfileCard {
    display: flex;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
  }
  
  .userProfileCard:hover {
    transform: translateY(-5px);
    border-bottom: 2px solid orange ;
  }
  
  .userProfileCard img {
    width: 70px;          
    height: 70px;         
    border-radius: 50%;   
    object-fit: cover;   
    border: 2px solid #ccc;       
}

  
  .userInfo {
    padding: 10px;
    text-align: left;
  }
  
  .userInfo h3 {
    margin: 5px 0 5px;
    font-size: 1.1em;
    color: #333;
  }
  
  .userInfo p {
    margin: 0;
    color: #666;
    font-size: 0.9em;
    
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .allUserProfile {
      grid-template-columns: 1fr;
      margin-bottom: 30px;
    }
    .pageHeader h1 {
        font-size: 2em;
      }
  }

  @media (max-width: 480px) {
    .pageHeader h1 {
      font-size: 1.8em;
    }
  }
  